.About {
  filter: drop-shadow(3px 3px 1px #3f082f80);
  -webkit-filter: drop-shadow(3px 3px 1px #3f082f80);
  display: flex;
  flex-direction: column;
  max-width: 500px;
  position: absolute;
  width: 80vw;

  @media screen and (max-width: 768px) {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
  }

  &--hidden {
    display: none;
  }
}

.About__Upper {
  color: #fae213;
  display: flex;
  font-family: "OCR A Std";
  font-size: 14px;
  height: 48px;
  margin-bottom: 0px;
  position: relative;

  @media screen and (max-width: 768px) {
    height: 36px;
  }

  &--Left {
    background-image: url(../images/about/top_bar.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
    align-items: center;
    flex: 1 1 auto;
    padding-left: 20px;
  }

  &--Right {
    align-items: center;
    display: flex;
    background-image: url(../images/about/close_button.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    justify-content: center;
    width: 15%;

    @media screen and (max-width: 768px) {
      width: 25%;
    }

    button {
      align-items: center;
      color: #fee500;
      display: flex;
      height: 100%;
      justify-content: center;
      width: 100%;
    }
  }
}

.About__ContentWrapper {
  display: flex;

  &:after,
  &:before {
    background-image: url(../images/about/left_bar.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    content: "";
    display: block;
    height: 358px;
    width: 30px;
  }
}

.About__Content {
  background-color: #fffef2;
  cursor: $cursor-text;
  font-family: "IBM Plex Mono", monospace;
  height: 358px;
  max-width: 100%;
  overflow-y: auto;
  padding: 22px 27px;
  width: 516px;

  @media screen and (max-width: 768px) {
    padding: 14px 16px;
  }

  h1 {
    color: #800000;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    margin: 0 0 17px;
    padding-bottom: 10px;
    text-decoration: underline;
    text-decoration-style: dashed;
    text-underline-offset: 10px;

    @media screen and (max-width: 768px) {
      line-height: 30px;
    }
  }

  p {
    font-size: 14px;
    line-height: 20px;
    margin: 0 0 17px;
  }

  a {
    color: inherit;
    cursor: $cursor-pointer;
    text-decoration: none;
  }

  hr {
    border: 1px dashed #800000;
    border-style: none none dashed;
    color: #fff;
    background-color: #fff;
  }

  .CCLogo {
    height: 50px;
    width: auto;

    @media screen and (max-width: 768px) {
      height: 36px;
    }
  }
}

.About__Lower {
  background-image: url(../images/about/bottom_bar.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 48px;
  width: 100%;

  @media screen and (max-width: 768px) {
    height: 36px;
  }
}

.About__Close {
  display: inherit;
  cursor: $cursor-pointer;
  padding: 0;
}
