.Carousel__Wrapper {
  box-shadow: 0 0 5px 2px $bevel-shadow, 0 0 5px 3px $bevel-highlight2,
    0 0 10px 3px $bevel-highlight;

  @media screen and (min-width: 768px) {
    &--Landscape {
      max-width: 50vw;
    }

    &--Portrait {
      max-width: 25vw;
    }
  }
}

.carousel {
  box-shadow: 0 0 3px 0 $bevel-highlight;

  &.carousel-slider {
    overflow: visible;
    .control-arrow {
      cursor: $cursor-pointer;
    }
  }

  video {
    height: 100%;
    width: 100%;
  }

  .slide {
    display: flex;
    justify-content: center;
  }
}
