.Carousel__Wrapper {
  box-shadow: 0 0 5px 2px $bevel-shadow, 0 0 5px 3px $bevel-highlight2,
    0 0 10px 3px $bevel-highlight;
  position: relative;

  @media screen and (min-width: 768px) {
    &.Frame01 {
      margin: 9%;
    }

    &.Frame02 {
      margin: 15%;
    }

    &.Frame03 {
      margin: 10%;
    }

    &.Frame04 {
      margin: 9%;
    }

    &.Frame05 {
      margin: 15%;
    }

    &.Frame06 {
      margin: 14%;
    }

    &.Frame07 {
      margin: 15%;
    }

    &.Frame08 {
      margin: 10%;
    }

    &.Frame09 {
      margin: 13%;
    }

    &.Frame10 {
      margin: 16%;
    }
  }
}

.carousel {
  box-shadow: inset 0 0 3px 0 $bevel-highlight;

  &.carousel-slider {
    overflow: visible;

    .control-arrow {
      cursor: $cursor-pointer;
    }
  }

  video {
    height: 100%;
    width: 100%;
  }

  .slide {
    align-items: center;
    display: flex;
    justify-content: center;
  }
}
