.Chat {
  filter: drop-shadow(3px 3px 1px #3f082f80);
  -webkit-filter: drop-shadow(3px 3px 1px #3f082f80);
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 600px;

  @media screen and (max-width: 768px) {
    height: 90%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
  }

  .Handle {
    cursor: $cursor-move;
  }

  &--hidden {
    display: none;
  }
}

.Chat__Upper {
  display: flex;
  margin-bottom: 0px;
  position: relative;

  @media screen and (min-width: 769px) {
    height: 72px;
  }

  .ImageWrapper {
    display: inherit;
  }

  img {
    height: auto;
    width: 100%;
  }
}

.Chat__Content {
  background-color: #fffef2;
  cursor: $cursor-text;
  height: 400px;
  overflow-y: scroll;
  padding: 22px 27px;

  .Chat__Entry {
    font-family: "IBM Plex Mono";
    font-size: 19px;
    line-height: 23px;
    margin: 0 0 13px;

    &--Bot {
      color: #0000ff;
    }

    &--User {
      color: #f0295e;
    }
  }

  .Entry__User {
    font-weight: bold;
  }

  .Entry__Text {
    font-weight: regular;
  }
}

.Chat__Lower {
  display: flex;

  img {
    height: auto;
    width: 100%;
  }
}

.Chat__InputWrapper {
  position: relative;
}

.Chat__Input {
  color: #8cbf8c;
  cursor: $cursor-text;
  font-family: "OCR A Std";
  font-size: 25px;
  left: 30px;
  line-height: 25px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  max-width: 300px;

  @media screen and (max-width: 768px) {
    font-size: 16px;
    line-height: 18px;
    max-width: 200px;
  }
}

.Chat__UserWrapper {
  display: inherit;
}

.Chat__Close,
.Chat__Submit {
  display: inherit;
  cursor: $cursor-pointer;
  padding: 0;
}
