.Chat {
  filter: drop-shadow(3px 3px 1px #3f082f80);
  -webkit-filter: drop-shadow(3px 3px 1px #3f082f80);
  display: flex;
  flex-direction: column;
  max-width: 500px;
  position: absolute;
  width: 80vw;

  @media screen and (max-width: 768px) {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
  }

  .Handle {
    cursor: $cursor-move;
  }

  &--hidden {
    display: none;
  }
}

.Chat__Upper {
  color: #fae213;
  display: flex;
  font-family: "OCR A Std";
  font-size: 14px;
  height: 48px;
  margin-bottom: 0px;
  position: relative;

  @media screen and (max-width: 768px) {
    height: 36px;
  }

  &--Left {
    background-image: url(../images/chat/top_bar_solid.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
    align-items: center;
    flex: 1 1 auto;
    padding-left: 20px;
  }

  &--Right {
    align-items: center;
    display: flex;
    background-image: url(../images/chat/close_button.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    justify-content: center;
    width: 15%;

    @media screen and (max-width: 768px) {
      width: 25%;
    }

    button {
      align-items: center;
      color: #fae213;
      display: flex;
      height: 100%;
      justify-content: center;
      width: 100%;
    }
  }
}

.Chat__ContentWrapper {
  display: flex;

  &:after,
  &:before {
    background-image: url(../images/chat/left_bar.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    content: "";
    display: block;
    height: 358px;
    width: 30px;
  }
}

.Chat__Content {
  background-color: #fffef2;
  cursor: $cursor-text;
  height: 358px;
  overflow-y: auto;
  padding: 22px 27px;
  width: 516px;

  @media screen and (max-width: 768px) {
    padding: 14px 16px;
  }

  .Chat__Entry {
    font-family: "IBM Plex Mono", monospace;
    font-size: 14px;
    line-height: 16px;
    margin: 0 0 13px;

    &--Bot {
      color: #0000ff;
    }

    &--User {
      color: #f0295e;
    }
  }

  .Entry__User {
    font-weight: bold;
  }

  .Entry__Text {
    font-weight: normal;
  }
}

.Chat__Lower {
  color: #fae213;
  display: flex;
  font-family: "OCR A Std";
  font-size: 14px;
  height: 48px;
  margin-bottom: 0px;
  position: relative;

  @media screen and (max-width: 768px) {
    height: 36px;
  }

  &--Left {
    background-image: url(../images/chat/bottom_bar_solid.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
    align-items: center;
    flex: 1 1 auto;
    padding-left: 20px;
  }

  &--Right {
    align-items: center;
    display: flex;
    background-image: url(../images/chat/send_button.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    justify-content: center;
    width: 15%;

    @media screen and (max-width: 768px) {
      width: 25%;
    }

    button {
      align-items: center;
      color: #fae213;
      display: flex;
      height: 100%;
      justify-content: center;
      width: 100%;
    }
  }
}

.Chat__Input {
  color: #8cbf8c;
  cursor: $cursor-text;
  font-family: "OCR A Std";
  font-size: 14px;
  left: 30px;
  line-height: 14px;
  padding: 2px 4px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  max-width: 300px;

  @media screen and (max-width: 768px) {
    font-size: 14px;
    left: 15px;
    line-height: 14px;
    max-width: 175px;
  }
}

.Chat__Close,
.Chat__Submit {
  display: inherit;
  cursor: $cursor-pointer;
  padding: 0;
}
