.Chat {
  background-color: $bg-color;
  border: 1px solid black;
  box-shadow: $shadow;
  display: flex;
  flex-direction: column;
  height: 400px;
  padding: 5px;
  position: absolute;
  width: 250px;

  &--hidden {
    display: none;
  }

  &__Heading {
    cursor: $cursor-move;
    font-size: 24px;
    margin: 0 0 5px;
    text-align: center;
  }

  &__Content {
    background-color: $white;
    border: 1px solid black;
    flex: 1;
    overflow: scroll;
  }

  &__Input {
    display: flex;
    height: 25px;
    margin-top: 5px;

    input {
      flex: 1;
      padding: 0;
    }
  }
}
