.Chat {
  display: flex;
  flex-direction: column;
  height: 400px;
  width: 600px;

  &--hidden {
    display: none;
  }

  &__Upper {
    display: flex;
    margin-bottom: 0px;
    position: relative;

    @media screen and (min-width: 769px) {
      height: 72px;
    }

    .ImageWrapper {
      display: inherit;
    }

    img {
      height: auto;
      width: 100%;
    }
  }

  &__Content {
    background-color: #fffef2;
    flex: 1;
    overflow-y: scroll;
  }

  &__Lower {
    display: flex;
  }

  &__InputWrapper {
    position: relative;
  }

  &__Input {
    left: 30px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
}
