.Dewdrops {
  bottom: 0;
  display: block;
  left: 0;
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.Dewdrop__Item {
  position: absolute;
  z-index: 2;

  &--1 {
    left: 8%;
    bottom: 18%;
  }

  &--2 {
    left: 15%;
    bottom: 25%;
  }

  &--3 {
    left: 20%;
    bottom: 30%;
  }

  &--4 {
    left: 35%;
    bottom: 20%;
  }

  &--5 {
    right: 10%;
    top: 30%;
  }

  &--6 {
    right: 20%;
    top: 10%;
  }

  &--7 {
    right: 30%;
    top: 15%;
  }

  &--8 {
    right: 15%;
    top: 20%;
  }
}

@keyframes flickerAnimation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes flickerAnimation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes flickerAnimation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes flickerAnimation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
  }
}
.animate-flicker {
  -webkit-animation: flickerAnimation 5s infinite;
  -moz-animation: flickerAnimation 5s infinite;
  -o-animation: flickerAnimation 5s infinite;
  animation: flickerAnimation 5s infinite;
}
