.Dewdrops {
  bottom: 0;
  display: block;
  left: 0;
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.Dewdrop__Item {
  filter: drop-shadow(2px 2px 25px #fef302);
  -webkit-filter: drop-shadow(2px 2px 25px #fef302);
  position: absolute;
  z-index: 2;

  &--1 {
    left: 6%;
    bottom: 23%;

    @media screen and (max-width: 768px) {
      bottom: 2%;
    }
  }

  &--2 {
    left: 15%;
    bottom: 25%;

    @media screen and (max-width: 768px) {
      bottom: 2%;
    }
  }

  &--3 {
    left: 30%;
    bottom: 30%;

    @media screen and (max-width: 768px) {
      bottom: 2%;
    }
  }

  &--4 {
    left: 40%;
    bottom: 20%;

    @media screen and (max-width: 768px) {
      bottom: 2%;
    }
  }

  &--5 {
    right: 10%;
    top: 30%;

    @media screen and (max-width: 768px) {
      right: 5%;
      top: 2%;
    }
  }

  &--6 {
    right: 20%;
    top: 10%;

    @media screen and (max-width: 768px) {
      right: 20%;
      top: 2%;
    }
  }

  &--7 {
    right: 30%;
    top: 15%;

    @media screen and (max-width: 768px) {
      right: 40%;
      top: 2%;
    }
  }

  &--8 {
    right: 15%;
    top: 20%;

    @media screen and (max-width: 768px) {
      right: 60%;
      top: 2%;
    }
  }
}

@keyframes flickerAnimation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes flickerAnimation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes flickerAnimation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes flickerAnimation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}
.animate-flicker {
  -webkit-animation: flickerAnimation 4s infinite;
  -moz-animation: flickerAnimation 4s infinite;
  -o-animation: flickerAnimation 4s infinite;
  animation: flickerAnimation 4s infinite;
}
