$bevel-highlight: #fffacc;
$bevel-highlight2: #f3e6d3;
$bevel-shadow: #72378d;

.Frame {
  background-color: #c7b2c6;
  border-radius: 15px;
  box-shadow: inset 0 0 5px 2px $bevel-shadow,
    inset 0 0 5px 3px $bevel-highlight, inset 0 0 10px 3px $bevel-highlight2,
    $shadow;
  cursor: $cursor-move;
  display: flex;
  flex-direction: column;
  padding: 50px;
  position: absolute;

  @media screen and (max-width: 768px) {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
  }

  &--hidden {
    display: none;
  }

  &__Control {
    background-size: contain;
    cursor: $cursor-pointer;
    height: 35px;
    width: 35px;

    &--Arrow {
      cursor: $cursor-pointer;
      height: 50px;
      padding: 0;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }

    &--ArrowLeft {
      left: -45px;
    }

    &--ArrowRight {
      right: -45px;
    }
  }

  &__Image {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
  }
}

.Controls {
  display: flex;
  justify-content: center;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);

  &--Top {
    top: 7px;
  }

  &--Bottom {
    bottom: 7px;
  }
}

.Details {
  background-color: #800000bf;
  color: #fff;
  bottom: 0;
  display: flex;
  flex-direction: column;
  font-family: "IBM Plex Mono", monospace;
  font-size: 16px;
  font-weight: 500;
  left: 0;
  line-height: 20px;
  margin: 50px;
  overflow-y: auto;
  padding: 15px;
  position: absolute;
  right: 0;
  top: 0;

  &--hidden {
    display: none;
  }

  p {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 10px;
    margin-top: 0;
  }
}

.Carousel__Wrapper {
  box-shadow: 0 0 5px 2px $bevel-shadow, 0 0 5px 3px $bevel-highlight2,
    0 0 10px 3px $bevel-highlight;

  @media screen and (min-width: 768px) {
    &--Landscape {
      max-width: 50vw;
    }

    &--Portrait {
      max-width: 25vw;
    }
  }
}

.carousel {
  box-shadow: 0 0 3px 0 $bevel-highlight;

  &.carousel-slider {
    overflow: visible;
  }

  video {
    height: 100%;
    width: 100%;
  }
}
