.Frame__Wrapper {
  height: 100%;
  width: 100%;
}

.Frame {
  cursor: $cursor-move;
  display: flex;
  flex-direction: column;
  position: absolute;
  width: fit-content;

  &--hidden {
    display: none;
  }
}
