.Frame {
  background-color: #e0c8e0;
  border-radius: 25px;
  box-shadow: $shadow;
  cursor: $cursor-move;
  display: flex;
  flex-direction: column;
  padding: 50px;
  position: absolute;

  @media screen and (max-width: 768px) {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 75vw;
  }

  &--hidden {
    display: none;
  }

  &__Control {
    background-size: contain;
    cursor: $cursor-pointer;
    height: 50px;
    width: 50px;

    &--Arrow {
      cursor: $cursor-pointer;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }

    &--ArrowLeft {
      left: -50px;
    }

    &--ArrowRight {
      right: -50px;
    }
  }

  &__Image {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
  }
}

.Controls {
  display: flex;
  justify-content: center;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);

  &--Top {
    top: 0px;
  }

  &--Bottom {
    bottom: 0px;
  }
}

.Details {
  background-color: #800000bf;
  color: #fff;
  bottom: 0;
  display: flex;
  flex-direction: column;
  font-family: "IBM Plex Mono";
  font-size: 16px;
  font-weight: 500;
  left: 0;
  line-height: 20px;
  padding: 15px;
  position: absolute;
  right: 0;
  top: 0;

  &--hidden {
    display: none;
  }

  p {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 10px;
    margin-top: 0;
  }
}

.Carousel__Wrapper {
  @media screen and (min-width: 768px) {
    &--Landscape {
      max-width: 50vw;
    }

    &--Portrait {
      max-width: 25vw;
    }
  }
}

.carousel {
  &.carousel-slider {
    overflow: visible;
  }
}
