.Frame {
  cursor: $cursor-move;
  display: flex;
  flex-direction: column;
  position: absolute;

  @media screen and (max-width: 768px) {
    background-color: #c7b2c6;
    border-radius: 15px;
    box-shadow: inset 0 0 5px 2px $bevel-shadow,
      inset 0 0 5px 3px $bevel-highlight, inset 0 0 10px 3px $bevel-highlight2,
      $shadow;
    left: 50%;
    padding: 25px;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
  }

  @media screen and (min-width: 769px) {
    filter: drop-shadow(3px 3px 1px #3f082f80);
    -webkit-filter: drop-shadow(3px 3px 1px #3f082f80);
  }

  &__Control {
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    cursor: $cursor-pointer;
    height: 30px;
    width: 30px;

    @media screen and (max-width: 768px) {
      width: 18px;
      height: 18px;
    }

    &--Arrow {
      cursor: $cursor-pointer;
      height: 50px;
      padding: 0;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }

    &--ArrowLeft {
      left: -45px;

      .landscape & {
        left: -60px;
      }

      @media screen and (max-width: 768px) {
        height: auto;
        left: -22px;
        width: 18px;
      }
    }

    &--ArrowRight {
      right: -45px;

      .landscape & {
        right: -60px;
      }

      @media screen and (max-width: 768px) {
        height: auto;
        right: -22px;
        width: 18px;
      }
    }
  }

  &__Image {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
  }
}

.Controls {
  display: flex;
  justify-content: center;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);

  &--Top {
    top: 2.5%;

    @media screen and (max-width: 768px) {
      top: 3px;
    }
  }

  &--Bottom {
    bottom: 2.5%;

    @media screen and (max-width: 768px) {
      bottom: 3px;
    }
  }
}

.Details {
  background-color: #800000bf;
  box-shadow: 0 0 5px 2px $bevel-shadow, 0 0 5px 3px $bevel-highlight2,
    0 0 10px 3px $bevel-highlight;
  color: #fff;
  bottom: 0;
  display: flex;
  flex-direction: column;
  font-family: "IBM Plex Mono", monospace;
  font-size: 16px;
  font-weight: 500;
  left: 0;
  line-height: 20px;
  overflow-y: auto;
  padding: 15px;
  position: absolute;
  right: 0;
  top: 0;

  p {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 10px;
    margin-top: 0;
  }
}
