.Frame__Wrapper {
  height: 100%;
  width: 100%;
}

.Frame {
  cursor: $cursor-move;
  display: flex;
  flex-direction: column;
  position: absolute;
  width: fit-content;

  &--hidden {
    display: none;
  }

  &__Control {
    background-size: contain;
    height: 50px;
    width: 50px;

    &:hover {
      cursor: $cursor-pointer;
    }

    &--Arrow {
      cursor: $cursor-pointer;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }

    &--ArrowLeft {
      left: -50px;
    }

    &--ArrowRight {
      right: -50px;
    }
  }
}

.Controls {
  display: flex;
  justify-content: center;
  width: 100%;
}

.Details {
  background-color: #ff0000b0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;

  &--hidden {
    display: none;
  }
}

.Carousel__Wrapper {
  width: 400px;
}

.carousel {
  &.carousel-slider {
    overflow: visible;
  }
}
