.LumpWorld {
  background-color: transparent;
  display: flex;
  filter: drop-shadow(3px 3px 1px #3f082f80);
  -webkit-filter: drop-shadow(3px 3px 1px #3f082f80);
  flex-direction: column;
  max-width: 80vw;
  position: absolute;
  width: 800px;

  @media screen and (max-width: 768px) {
    height: 90%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
  }

  &--hidden {
    display: none;
  }
}

.LumpWorld__Upper,
.LumpWorld__Lower {
  img {
    height: auto;
    width: 100%;
  }
}

.LumpWorld__Upper {
  display: flex;
  height: 48px;
  justify-content: space-between;

  @media screen and (max-width: 768px) {
    height: 36px;
  }

  &--Left {
    background-image: url(../images/lumpworld/LW_bar_top.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
    align-items: center;
    flex: 1 1 auto;
    padding-left: 20px;
  }

  &--Right {
    align-items: center;
    display: flex;
    background-image: url(../images/lumpworld/LW_button_close.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    justify-content: center;
    width: 15%;

    @media screen and (max-width: 768px) {
      width: 25%;
    }

    button {
      align-items: center;
      color: #feea38;
      display: flex;
      height: 100%;
      justify-content: center;
      width: 100%;
    }
  }
}

.LumpWorld__Main {
  background-color: #fffef2;
  display: flex;
  height: 358px;

  @media screen and (max-width: 768px) {
    flex-direction: column;
    height: 100%;
  }

  &--Divider,
  &:after,
  &:before {
    background-image: url(../images/about/left_bar.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    content: "";
    display: block;
    height: 358px;
    width: 21px;

    @media screen and (max-width: 768px) {
      display: none;
    }
  }

  &:after,
  &:before {
    content: "";
  }

  &--Left {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-grow: 1;
    position: relative;

    &.BackgroundDay {
      background-image: url(../images/lumpworld/LumpWorld_Background_Day_2x.jpg);
    }

    &.BackgroundNight {
      background-image: url(../images/lumpworld/LumpWorld_Background_Night_2x.jpg);
    }

    .Details {
      margin: 0;
    }
  }

  &--Right {
    overflow-y: auto;
    width: 25%;

    @media screen and (max-width: 768px) {
      height: 66%;
      width: 100%;
    }
  }
}

.LumpWorld__Lower {
  display: flex;
  height: 48px;
  position: relative;
  background-image: url(../images/lumpworld/LW_bar_bottom.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;

  @media screen and (max-width: 768px) {
    height: 30px;
  }
}

.LumpWorld__ButtonWrapper {
  align-items: center;
  display: flex;
  height: 100%;
  margin-left: 18px;
  position: absolute;
}

.LumpWorld__Button {
  display: flex;
}

.LumpWorld__BackgroundToggle {
  height: 18px;
  margin: 0;
  padding: 0;
  width: 18px;
}

.LumpWorld__Close {
  display: flex;
  padding: 0;
}

.LumpWorld__Details {
  height: 18px;
  margin: 0;
  padding: 0;
  width: 18px;
}

.LumpWorld__Icons {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.LumpWorld__Icon {
  align-items: center;
  display: flex;
  flex: 1 1 25%;
  flex-direction: column;
  justify-content: center;

  img {
    height: auto;
    width: 100%;
  }

  @media screen and (max-width: 768px) {
    flex: 0 1 10%;

    img {
      width: 25%;
    }
  }
}

.LumpWorld__Object {
  position: absolute;

  img {
    height: auto;
    width: 100%;
  }
}
