.Navigation {
  bottom: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  left: 0;
  position: absolute;
  right: 0;

  @media screen and (max-width: 768px) {
    top: 0;
  }
}

.Navigation__List {
  display: flex;
  justify-content: center;
  list-style: none;
  max-width: 95%;
  padding: 0;

  &.Hidden {
    display: none;
  }

  &--Mobile {
    background-image: url(../images/navigation/Mobile_Menu_Bar_2x_8bit.png);
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: flex-start;
    height: 25%;
    margin: 0;
    width: 100%;

    :nth-child(1) .Navigation__Button {
      left: 12%;
      top: 20%;
      width: 60%;
    }

    :nth-child(2) .Navigation__Button {
      left: 25%;
      top: 50%;
      width: 55%;
    }

    :nth-child(3) .Navigation__Button {
      left: 32%;
      top: 22%;
      width: 60%;
    }

    :nth-child(4) .Navigation__Button {
      left: 42%;
      top: 50%;
      width: 55%;
    }
  }

  &--Desktop {
    display: none;
    margin: 0 0 10px;
  }

  @media screen and (min-width: 769px) {
    display: flex;
    flex-wrap: no-wrap;
    justify-content: center;
    margin: 0 0 10px;
    max-width: 95%;
    padding: 0;

    &--Mobile {
      display: none;
    }

    &--Desktop {
      display: flex;
    }
  }

  & :nth-child(even):not(:first-of-type()) {
    margin-top: 30px;
  }
}

.Navigation__Item {
  align-items: center;
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  filter: drop-shadow(3px 3px 1px #3f082f80);
  -webkit-filter: drop-shadow(3px 3px 1px #3f082f80);
  justify-content: center;
  position: relative;
  width: 24%;

  @media screen and (min-width: 769px) {
    width: auto;
  }
}

.Navigation__Background {
  height: auto;
  width: 100%;
}

.Navigation__Button {
  background: transparent;
  border: none;
  display: block;
  cursor: $cursor-pointer;
  margin: 0;
  padding: 0;
  position: absolute;
  width: 66%;

  .Navigation__Item--Left &,
  .Navigation__Item--Up &,
  .Navigation__Item--Right & {
    top: 10%;
  }

  .Navigation__Item--Down & {
    bottom: 5%;
    width: 50%;
  }
}

.Navigation__Icon {
  cursor: $cursor-pointer;
  display: block;

  &--butterfly {
    margin-bottom: 5px;
    margin-left: 2px;
  }

  &--burst {
    margin-left: 3px;
  }

  &--ribbon {
    margin-bottom: 5px;
    margin-left: 3px;
  }

  &--spider {
    margin-bottom: 5px;
    margin-right: 3px;
  }

  &--spiral {
    margin-bottom: 2px;
    margin-left: 2px;
  }

  &--heartFlower {
    margin-bottom: 5px;
    margin-left: 3px;
  }

  &--gourd {
    margin-bottom: 1px;
    margin-left: 3px;
  }

  &--shell {
    margin-bottom: 5px;
    margin-left: 1px;
  }

  &--web {
    margin-left: 1px;
  }

  &--face {
    margin-bottom: 5px;
  }

  &--about {
    margin-bottom: 5px;
    margin-left: 2px;
  }

  &--chat {
    margin-left: 3px;
  }
}
