.Navigation {
  bottom: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  left: 0;
  position: absolute;
  right: 0;

  @media screen and (max-width: 767px) {
    top: 0;
  }

  &__List {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    margin: 0 0 10px;
    padding: 0;
    max-width: 95%;

    @media screen and (min-width: 768px) {
      flex-wrap: nowrap;
    }

    & :nth-child(even):not(:first-of-type()) {
      margin-top: 30px;
    }
  }

  &__Item {
    align-items: center;
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    filter: drop-shadow(3px 3px 1px #3f082f80);
    -webkit-filter: drop-shadow(3px 3px 1px #3f082f80);
    justify-content: center;
    position: relative;
    width: 26%;

    @media screen and (min-width: 768px) {
      width: auto;
    }
  }

  &__Background {
    height: auto;
    width: 100%;
  }

  &__Button {
    background: transparent;
    border: none;
    display: block;
    cursor: $cursor-pointer;
    margin: 0;
    padding: 0;
    position: absolute;
    width: 66%;

    .Navigation__Item--Left &,
    .Navigation__Item--Up &,
    .Navigation__Item--Right & {
      top: 10%;
    }

    .Navigation__Item--Down & {
      bottom: 5%;
      width: 50%;
    }
  }
}

.Navigation__Icon {
  cursor: $cursor-pointer;
  display: block;

  &--butterfly {
    margin-bottom: 5px;
    margin-left: 2px;
  }

  &--burst {
    margin-left: 3px;
  }

  &--ribbon {
    margin-bottom: 5px;
    margin-left: 3px;
  }

  &--spider {
    margin-bottom: 5px;
    margin-right: 3px;
  }

  &--spiral {
    margin-bottom: 2px;
    margin-left: 2px;
  }

  &--heartFlower {
    margin-bottom: 5px;
    margin-left: 3px;
  }

  &--gourd {
    margin-bottom: 1px;
    margin-left: 3px;
  }

  &--shell {
    margin-bottom: 5px;
    margin-left: 1px;
  }

  &--web {
    margin-left: 1px;
  }

  &--face {
    margin-bottom: 5px;
  }

  &--about {
    margin-bottom: 5px;
    margin-left: 2px;
  }

  &--chat {
    margin-left: 3px;
  }
}
