.Navigation {
  bottom: 0;
  display: flex;
  justify-content: center;
  left: 0;
  position: absolute;
  right: 0;

  &__Background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  &__List {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0 0 10px;
    padding: 0;
    max-width: 95%;

    & :nth-child(even):not(:first-of-type()) {
      margin-top: 30px;
    }
  }

  &__Item {
    align-items: center;
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    filter: drop-shadow(3px 3px 1px #3f082f80);
    justify-content: center;
    position: relative;
    -webkit-filter: drop-shadow(3px 3px 1px #3f082f80);
  }

  &__Button {
    background: transparent;
    border: none;
    cursor: $cursor-pointer;
    margin: 0;
    padding: 0;
    position: absolute;
    width: 66%;

    .Navigation__Item--Left &,
    .Navigation__Item--Up &,
    .Navigation__Item--Right & {
      top: 10%;
    }

    .Navigation__Item--Down & {
      bottom: 5%;
      width: 50%;
    }
  }
}
