.Navigation {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;

  &__List {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0 0 50px;
    padding: 0;
  }

  &__Item {
    align-items: center;
    background-color: $icon-bar-fill;
    border: 2px solid $icon-bar-outline;
    border-radius: 50%;
    box-shadow: $shadow;
    cursor: $cursor-pointer;
    display: flex;
    height: 75px;
    justify-content: center;
    padding: 5px;
    width: 75px;

    &:nth-child(odd) {
      margin-bottom: 15px;
    }

    &:nth-child(even) {
      margin-top: 15px;
    }
  }
}
