.Navigation {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;

  &__List {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0 0 50px;
    padding: 0;

    & :nth-child(even):not(:first-of-type()) {
      margin-top: 30px;
    }
  }

  &__Item {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 121px;
    height: 136px;

    &--Down {
      margin-top: 44px;
    }
  }

  &__Button {
    cursor: $cursor-pointer;

    &:hover {
      cursor: $cursor-pointer;
    }
  }
}
