.Page {
  position: relative;
  background-image: url(../images/background-mobile.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  max-height: -webkit-fill-available;
  max-width: -webkit-fill-available;
  overflow-x: hidden;
  width: 100vw;
  height: 100vh;

  @media screen and (min-width: 769px) {
    background-image: url(../images/background.jpg);
  }

  &:after {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    box-shadow: inset 0 0 75px 0 #fef302;
    -webkit-animation: glowAnimation 5s infinite;
    -moz-animation: glowAnimation 5s infinite;
    -o-animation: glowAnimation 5s infinite;
    animation: glowAnimation 5s infinite;
  }
}

@keyframes glowAnimation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes glowAnimation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes glowAnimation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes glowAnimation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}
.animate-flicker {
  -webkit-animation: glowAnimation 5s infinite;
  -moz-animation: glowAnimation 5s infinite;
  -o-animation: glowAnimation 5s infinite;
  animation: glowAnimation 5s infinite;
}
