@import "~react-responsive-carousel/lib/styles/carousel.min.css";
@import "./util/variables.scss";
@import "./util/fonts.scss";
@import "./util/layout.scss";

@import "./components/chat.scss";
@import "./components/frames.scss";
@import "./components/header.scss";
@import "./components/navigation.scss";

body {
  cursor: $cursor-default;
}
