.Cursor--Default {
  cursor: $cursor-default !important;
}

.Cursor--Move {
  cursor: $cursor-move !important;
}

.Cursor--Pointer {
  cursor: $cursor-pointer !important;
}

.Cursor--Text {
  cursor: $cursor-text !important;
}

.Cursor--EasterEgg {
  cursor: $cursor-easteregg !important;
}
