.Cursor--Default {
  cursor: $cursor-default;
}

.Cursor--Move {
  cursor: $cursor-move;
}

.Cursors--Pointer {
  cursor: $cursor-pointer;
}

.Cursor--Text {
  cursor: $cursor-text;
}

.Cursor--EasterEgg {
  cursor: $cursor-easteregg;
}
