.Cursor--Default {
  cursor: $cursor-default;
}

.Cursor--Move {
  cursor: $cursor-move;
}

.Cursor--Pointer,
.Cursor--Pointer:hover {
  cursor: $cursor-pointer;
}

.Cursor--Text {
  cursor: $cursor-text;
}

.Cursor--EasterEgg {
  cursor: $cursor-easteregg;
}
