body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}
* {
  box-sizing: border-box;
}

body {
  position: relative;
  background-color: $bg-color;
  font-family: $font-primary;
}

main {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
