.Hidden {
  visibility: hidden;
  position: absolute;
  opacity: 0;
  transition: visibility 0s ease-out 300ms, opacity 400ms;
  -webkit-transition: visibility 0s ease-out 300ms, opacity 400ms;
}

.Visible {
  visibility: visible;
  opacity: 1;
  transition: visibility 0s ease-in 0s, opacity 400ms;
  -webkit-transition: visibility 0s ease-in 0s, opacity 400ms;
}

.Handle {
  cursor: $cursor-move;
}
