$bg-color: #fffacc;
$bg-text-color: #ff7ebd;

$icon-bar-outline: #0000ff;
$icon-bar-fill: #e1cbeb;

$cursor-fill: #cce2cc;

$maroon: #800000;
$yellow: #ffe660;
$red: #f0295e;
$green: #017000;

$font-primary: Arial, sans-serif;
