$bg-color: #fffacc;
$bg-text-color: #ff7ebd;

$shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);

$icon-bar-outline: #0000ff;
$icon-bar-fill: #e1cbeb;

$cursor-fill: #cce2cc;

$maroon: #800000;
$yellow: #ffe660;
$red: #f0295e;
$green: #017000;
$white: #ffffff;

$font-primary: Arial, sans-serif;

$cursor-default: url(../images/cursors/cursor_default.png) 5 5, auto;
$cursor-move: url(../images/cursors/cursor_grab.png) 22 4, move;
$cursor-pointer: url(../images/cursors/cursor_click.png) 23 3, pointer;
$cursor-easteregg: url(../images/cursors/cursor_easteregg.png) 23 7, pointer;
$cursor-text: url(../images/cursors/cursor_text.png) 22 6, text;
